{% extends 'DO_NOT_OPEN/layout.html.twig' %}

{% block content %}
    <main class="level1 ml-3">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img8.png') }}" alt="img">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img1.png') }}" alt="img">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img2.png') }}" alt="img">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img7.png') }}" alt="img">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img5.png') }}" alt="img">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img4.png') }}" alt="img">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img3.png') }}" alt="img">
    <img src="{{ asset('build/DO_NOT_OPEN/images/door2/img6.png') }}" alt="img">
    </main>
{% endblock %}
